:root {
  --min-scale: 0.2;
  --max-scale: 9;
}

h1 {
  text-align: center;
  font-family: 'Aleo';
}

html {
  background-color: #ffeee9;
  font-family: 'Cello Sans';
}

p {
  font-size: clamp(1rem, 4vw, 2rem)
}

.call-to-action {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

.call-to-action > .signup_form {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  gap: 2%;
  font-size: clamp(1rem, 4vw, 2rem)
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

.title-block {
  --title-pref-size: 5;
  font-size: clamp(
    var(--title-pref-size) * var(--min-scale) * 1px,
    var(--title-pref-size) * 1vw,
    var(--title-pref-size) * var(--max-scale) * 1px
  );
}

.big-logo {
  --logo-pref-size: 50;
  display: flex;
  justify-content: center;
}

.big-logo > #icon {
  width: clamp(
    var(--logo-pref-size) * var(--min-scale) * 1px,
    var(--logo-pref-size) * 1vw,
    var(--logo-pref-size) * var(--max-scale) * 1px);
}